@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #ffffff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #CC4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type=submit] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #CC6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type=submit]:hover {
  background: green;
}

footer {
  border: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 20px;
}

.container-footer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 200px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.rounded-circle {
  border: 3px solid white;
  box-shadow: 0 0 25px white;
  width: 175px;
  height: 175px;
  box-sizing: border-box;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
.rounded-circle img {
  width: 100%;
  height: 100%;
}

.white-text {
  color: white;
  display: block;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@media screen and (min-width: 750px) {
  .text-wrap {
    flex-direction: column;
    padding: 0px 200px;
    display: flex;
    justify-content: center;
    line-height: 3.5em;
  }
}
.text-wrapping {
  padding: 80px 200px;
  display: flex;
  justify-content: center;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(1px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-13px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(1px);
  }
}
@keyframes reveal {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
.arrows {
  width: 60px;
  height: 72px;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.arrows path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari 和 Chrome */
}

.white-text {
  color: white;
}

#portfolio {
  position: relative;
  padding-bottom: 50px;
}

#portfolio .portfolio-container {
  display: inline-block;
  margin-bottom: 50px;
  width: 100%;
}

.jumbotron-project {
  background: linear-gradient(rgba(0, 0, 250, 0.25), rgba(59, 77, 77, 0.45));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  height: 125vh;
}

.container-project {
  padding: 300px 0px;
  margin-bottom: 200px;
}

.text_margin {
  width: 70vw;
  margin: 0 auto;
}

.string-1 {
  padding-top: 30px;
  width: 600px;
  margin: 0 auto;
  font-weight: 100;
  margin-top: -35px;
}

.main-project {
  margin-bottom: 30px;
}

.content {
  margin-top: 10%;
}

.white-text {
  color: white;
  display: block;
}

.newFont {
  font-size: 20px;
}

/*# sourceMappingURL=App.css.map */
